.logincontainer {
    min-height: 95vh !important;
}

#signup {
    color: #9D8189;
    margin-top: 0px;
}

#title {
    padding: 60px;
    padding-bottom: 10px;
    margin: 5px 0px !important;
    font-family: "Open Sans";
    font-size: 5rem;
}

#title img {
    margin-top: 0px;
}


.center-text {
    color:black;
}

#disclaimer{
    font-size: 11px;
    color:darkred;
    text-align: center;
}