#signup {
    color: #9D8189;
    margin-top: 0px;
}

#title {
    padding: 30px;
    padding-bottom: 10px;
    margin: 5px 0px !important;
    font-family: "Open Sans"
}

#title img {
    margin-top: 0px;
}

#title.ui.header {
    font-size: 4rem;
}

#signup button.submit-button{
    background-color: #D8E2DC;
}

.center-text {
    color:black;
}

#disclaimer{
    font-size: 11px;
    color:darkred;
    text-align: center;
}