#accountcontainer {
    min-height: 100vh;
}

a.edit-story-button {
    float: right;
    background-color: rgba(27, 179, 47, 0.8) !important;
    color: white !important;
}

.story-item  .story-buttons {
    opacity: 0;
}

.story-item:hover  .story-buttons {
    opacity: 1;
}

#add-story-button {
    display: block;
    margin: 0 auto;
    width: 225px;
}

.delete-story-button {
    float: right;
}