#editcontainer {
    min-height: 100vh;
    background-color: rgb(247, 247, 248);
}

#editcontainer .button-container {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#editcontainer #timeline-title input {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 8px 10px;
}

#lotus {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.section-grid-container {
    margin: 0 auto;
}

.section-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    border: 0;
    margin: 0 auto;
    width: 100%;
}

.section-grid-item-container .section-grid-item-content {
    height: 84%;
    overflow-y: scroll;
}

.section-grid-item-container {
    color: rgb(67, 72, 76);
    flex-grow: 1;
    height: 305px;
    width: 317px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border: 0;
    cursor: grab;
    box-sizing: border-box;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border-radius: .28571429rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border: 1px solid rgba(34,36,38,.15);
    position: relative;
}

.section-grid-item-container .reorder-icon {
    position: absolute;
    top: 13px;
    left: 13px;
    color: rgb(151, 159, 167);
    cursor: grab;
}

.section-grid-item-container .menu-icons {
    opacity: 0;
}

.section-grid-item-container:hover .menu-icons {
    animation: appear 0.4s ease both;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

.section-grid-item-container .menu-icons-right {
    position: absolute;
    top: 5px;
    right: 5px;
}

.section-grid-item-container .menu-icons-right .edit-icon {

    color: rgb(151, 159, 167);
    cursor: pointer;
    padding: 5px;
}

.section-grid-item-container .menu-icons-right .trash-icon {
    color: rgb(151, 159, 167);
    cursor: pointer;
    padding: 5px;
}

.section-grid-item-container:hover {
    box-shadow: 0 6px 6px 0 rgba(67, 72, 76,0.1);
}

.section-grid-item-wrapper {
    cursor: grabbing;
    animation: border-draw 0.2s ease-in-out forwards;
}

.section-grid-item-add {
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border: 1px solid rgba(34,36,38,.15);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
}

.section-grid-item-add:hover {
    background-color: rgb(253, 254, 253);
    box-shadow: 0 6px 6px 0 rgba(67, 72, 76,0.1);
}

@keyframes border-draw {
    to {
        border: 3px dashed rgba(67, 72, 76,0.4);
    }
}

.actions .cancel-button {
    float: left;
    color: rgba(0,0,0,.6) !important;
    font-weight: 600 !important;
}

.actions {
    clear: both;
}

.content .first-prompt-message {
    font-family: "Open Sans";
    font-weight: 300;

}

.input-menu button i, button.ui.icon.button i {
    pointer-events: none;
}

.preview-story-button {
    background-color: rgba(172, 222, 173, 0.8) !important;
    color: white !important;
}

#editcontainer  a.preview-story-button {
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: rgb(172, 222, 173) !important;
    color: white;
    float: right;
}

#editcontainer  a.preview-story-button:hover {
    background-color: rgba(139, 234, 134, 0.8) !important;
}