#editcontainer {
    min-height: 100vh;
    background-color: rgb(247, 247, 248);
}

#editcontainer .button-container {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top:50px;
}

#editcontainer .little-label {
    font-size: 11px;
    text-align: center;
    color: rgb(141, 149, 157);
    line-height: initial;
}

#editcontainer .little-label .pencil.icon {
    opacity: 0;
}

#editcontainer .story-input-container:hover .pencil.icon{
    opacity: 1;
}

#editcontainer .story-input {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}

#editcontainer #timeline-title input {
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 8px 10px;
}

#editcontainer #timeline-description input {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 8px 10px;
}

#lotus {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.section-grid-container {
    margin: 0 auto;
}

.section-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    border: 0;
    margin: 0 auto;
    width: 100%;
}

.section-grid-item-container .section-grid-item-content {
    width: 99%;
    overflow-y: scroll;
    height: calc(100% - 40px);
    display: -webkit-flex;
    margin: 0 auto;
    background-color: rgba(254, 254, 253, 0.9);
    line-height: 150%;
}

.section-grid-item-container {
    color: rgb(67, 72, 76);
    flex-grow: 1;
    height: 305px;
    width: 317px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border: 0;
    cursor: grab;
    border-radius: .28571429rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border: 1px solid rgba(34,36,38,.15);
    position: relative;
}

.section-grid-item-container .menu-icons {
    padding-bottom: 8px;
}

.section-grid-item-container .reorder-icon {
    color: rgb(151, 159, 167);
    cursor: grab;
    padding: 2px;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

.section-grid-item-container:hover .menu-icons-right {
    animation: appear 0.3s ease both;
}

.section-grid-item-container .menu-icons-right {
 float: right;
 opacity: 0;
}

.section-grid-item-container .menu-icons-right .edit-icon {
    cursor: pointer;
    padding: 2px;
}

.section-grid-item-container .menu-icons-right .trash-icon {
    cursor: pointer;
    padding: 2px;
}

.section-grid-item-container:hover {
    box-shadow: 0 6px 6px 0 rgba(67, 72, 76,0.1);
}

.section-grid-item-wrapper {
    cursor: grabbing;
    animation: border-draw 0.2s ease-in-out forwards;
}

.section-grid-item-add {
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border: 1px solid rgba(34,36,38,.15);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: -webkit-flex;
}

.section-grid-item-add:hover {
    background-color: rgb(253, 254, 253);
    box-shadow: 0 6px 6px 0 rgba(67, 72, 76,0.1);
}

@keyframes border-draw {
    to {
        border: 3px dashed rgba(67, 72, 76,0.4);
    }
}

.content .first-prompt-message {
    font-family: "Open Sans";
    font-weight: 300;

}

.input-menu button i, button.ui.icon.button i {
    pointer-events: none;
}

#editcontainer  a.preview-story-button {
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: rgb(172, 222, 173) !important;
    color: white;
    float: right;
}

#editcontainer  a.preview-story-button:hover {
    background-color: rgba(172, 222, 173, 0.8) !important;
}