#editcontainer {
    min-height: 100vh;
}

#editcontainer .left-menu {
    /*background: linear-gradient(168deg, rgba(254, 206, 233, 0.9) 0%, rgba(235, 177, 240, 0.9) 51%, rgba(254, 186, 223, 0.9) 75%, rgba(254, 196, 213, 0.9) 90%);*/
    background-color: rgba(244, 172, 183, 1);
    z-index: 1;
    height: 100%;
}

#editcontainer .left-menu .left-menu-buttons {
    position: relative;
    top: 33vh;
}

#editcontainer .left-menu .left-menu-buttons .item {
    padding: 10px 20px;
    margin: 20px 0px;
}

#editcontainer .edit-view-container {
    margin: 0;
    margin-left: 83px;
    min-height: 100vh;
    box-shadow: none;
    border-radius: none;
    border: none;
    z-index: 2;
}

#editcontainer .edit-view-container .edit-view-sidebar {
    background-color: rgb(51, 51, 51);
    padding: 0;
    border: none;
    border-radius: 0;
}

#editcontainer .edit-view-container .edit-view-sidebar h3.header {
    padding: 20px;
    background-color: rgb(216, 226, 220);
    color: rgba(0, 0, 0, 0.5)
}


#timeline-title input {
    text-align: center;
}

.timeline-content .label {
    background-color: rgba(241, 163, 168, 0.9);
}

form .timelineitem-submit-button.button {
    background-color: rgba(241, 163, 168, 0.9);
    color: rgba(0,0,0,.5);
    border-radius: 0;
}

form .timelineitem-submit-button.button:hover {
    background-color: rgba(241, 163, 168, 0.7);
}

.timeline-content form label {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
}

#lotus {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#submenu {
    border: none !important;
    box-shadow: none;
}



#submenu .item {
    padding: 13px 2px;
}

#editmessage {
    margin: 0 auto;
    width: 95vw;
}

#reorderlist {
    position: relative;
    z-index: 0;
    background-color: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    margin: 10px;
}

.reorderitem {
    width: 100%;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
}

.add-timeline-item-button {
    position: absolute;
    left: 50%;
    margin-top: 4px !important;
    margin-left: -13px !important;
    cursor: pointer;
}

i.inverted.circular.icon.add-timeline-item-button {
    background-color: rgba(241, 163, 168, 0.5) !important;
}
