#title {
    color: #9D8189;
    font: "Open Sans";
}

.aboutcontainer {
    min-height: 100vh;
    padding-bottom: 30px;
}

#lotuslogo {
    width: 80px;
    height: 65px;
    margin-bottom: -10px;
}