@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans","Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.7px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans","Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400 !important;
}

button {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  letter-spacing: 1.5px !important;
  color: white;
}

.center-text {
  text-align: center;
}

#signup {
      margin: 0 auto;
      width: 470px;
      padding: 40px;
      border: 1px solid lightgray;
      border-radius: 4px;
      margin-bottom: 20px;
}

.ui.header{
  font-family: "Open Sans" ;
}

#app {
  position: relative;
}

/*Needed!*/
#app #react-view, .ui.container {
  padding-top: 1px;
}


#nav-logo {
  margin-right: 10px;
}

#footer {
  position: relative;
  color: white !important;
  bottom: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  border-radius: 0;
  background-color: rgb(57, 62, 66);
}

#footer #copyright {
  float:right;
  padding-bottom: 10px;
  color: white;
}

.add-timeline-item-button {
    vertical-align: middle;
    margin: auto;
    padding: 3px;
}
/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit; }


/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative; }
  .timeline-item:last-child {
    padding-bottom: 0; }

/*----- TIMELINE HEADING -----*/
.timeline-heading {
  padding-bottom: 50px;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap; }

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px; }
  .timeline-marker:before {
    background: rgba(241, 163, 168, 0.5);
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out; }
  .timeline-marker:after {
    content: "";
    width: 4px;
    position: absolute;
    background: rgb(138, 118, 108);
    top: 24px;
    bottom: 0;
    left: 6px; }
  .timeline-item:last-child .timeline-marker:after {
    content: none; }

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid rgba(231, 110, 29, 0.5); }

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  font-size: 1.2em;
  padding-bottom: 40px; }
  .timeline-content p:last-child {
    margin-bottom: 0; }

/*------ TIMELINE IMAGE ------*/
.timeline-image {
    border-radius: 5px;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0; }
  .period .timeline-info {
    display: none; }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB; }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto; }
  .period .timeline-content {
    padding: 40px 0 70px; }
  .period .timeline-title {
    margin: 0; }

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table; }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0; }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker,
  .timeline-split .timeline-content, .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info, .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top; }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative; }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px; }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px; }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px; } }

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0; }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden; }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px; }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center; }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px; }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto; }
  .timeline-centered .period .timeline-title {
    left: auto; } }

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: rgba(231, 110, 29, 0.5); }

.marker-outline .timeline-item:hover .timeline-marker:before {
  background: rgba(231, 110, 29, 0.5); }

.row {
  margin: 0 !important; }

/*----------------------------------------------
        CUSTOM
    ----------------------------------------------*/

.ui.red.button {
  font-weight: 400 !important;
  letter-spacing: 1.5px !important;
  text-transform: uppercase !important;
  background-color: rgb(255, 69, 90) !important;
}

.ui.red.button:hover {
  background-color: rgba(255, 69, 90, 0.8) !important; 
}

.ui.green.button {
  font-weight: 400 !important;
  letter-spacing: 1.5px !important;
  text-transform: uppercase !important;
  background-color: rgb(172, 222, 173) !important; 
}

.ui.green.button:hover {
  background-color: rgba(172, 222, 173, 0.8) !important; 
}

.ui.blue.button {
  font-weight: 400 !important;
  letter-spacing: 1.5px !important;
  text-transform: uppercase !important;
  background-color: rgb(97, 175, 255) !important; 
}

.ui.blue.button:hover {
  background-color: rgba(97, 175, 255, 0.8) !important; 
}

.modal .modal-header{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.5px;
  font-size: 1.8em !important;
  text-align: center;
}

.modal .modal-content-container .subtext{
  color: rgb(141, 149, 157) !important;
}

.modal .actions .cancel-button {
    float: left;
    font-weight: 400 !important;
}