body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#app {
  min-height: 100vh;
  margin-top: 100px;

}

#nav-logo {
  margin-right: 10px;
}

#footer {
  border-radius: 0;

}

#jumbo {
  min-height: 30vh;
  padding-top: 100px;
  padding-bottom: 100px;
}